menu "Irrigation System Configuration"

    config WIFI_SSID
        string "WiFi SSID"
        default "myssid"
        help
            SSID (network name) 

    config WIFI_PASSWORD
        string "WiFi Password"
        default "mypassword"
        help
            WiFi password (WPA or WPA2) 

    config WIFI_MAXIMUM_RETRY
        int "Maximum retry"
        default 5
        help
            Set the Maximum retry to avoid station reconnecting to the AP unlimited when the AP is really inexistent.

    config WATERING_OUTPUT_GPIO_NO
        int "Watering Device Output GPIO No"
        default 13
        help
            GPIO number for relay signals

    config MONITORING_OUTPUT_GPIO_NO
        int "Monitoring Output GPIO No"
        default 26
        help
            GPIO number for monitoring signals

    config WATERING_INPUT_GPIO_NO
        int "Watering Button GPIO No"
        default 27
        help
            GPIO number for relay signals

    config LOCAL_TIME_ZONE
        string "Local Time Zone"
        default "JST-9"
        help
            Time zone of the region to be used

    config NTP_SERVER_ADDRESS
        string "NTP Server Address"
        default "ntp.nict.jp"
        help
            NTP server address to use for time alignment

    config DEBUG
        int "Debug Mode"
        default 0
        help
            Set a non-zero number to build as debug mode.

endmenu
