menu "Irrigation System Configuration"

    config WIFI_SSID
        string "WiFi SSID"
        default "myssid"
        help
            SSID (network name) 

    config WIFI_PASSWORD
        string "WiFi Password"
        default "mypassword"
        help
            WiFi password (WPA or WPA2) 

    config WIFI_MAXIMUM_RETRY
        int "Maximum retry"
        default 100
        help
            Set the Maximum retry to avoid station reconnecting to the AP unlimited when the AP is really inexistent.

    config WATERING_OUTPUT_GPIO_NO
        int "Watering Device Output GPIO No"
        default 13
        help
            GPIO number for valve signals

    config MONITORING_OUTPUT_GPIO_NO
        int "Monitoring Output GPIO No"
        default 25
        help
            GPIO number for monitoring signals

    config WATERING_INPUT_GPIO_NO
        int "Watering Button GPIO No"
        default 34
        help
            GPIO number for valve signals

    config IS_ENABLE_VOLTAGE_CHECK
        bool "Is Enable Voltage Check Option"
        default y
        help
            If you do not use the voltage check process, disable it

    config VAOLTAGE_CHECK_OUTPUT_GPIO_NO
        int "Voltage Check Output GPIO No"
        default 26
        help
            GPIO number for voltage check signals

    config VAOLTAGE_CHECK_INPUT_ADC_CHANNEL_NO
        int "Voltage Check Input ADC1 Channel No"
        default 7
        help
            GPIO number for voltage check adc input signals

    config VOLTAGE_CHECK_TOP_REGISTER
        int "Voltage Check Top Register (Ω)"
        default 10000
        help
            voltage check top register 

    config VOLTAGE_CHECK_BOTTOM_REGISTER
        int "Voltage Check Bottomp Register (Ω)"
        default 2200
        help
            voltage check bottom register 

    config IS_ENABLE_WATER_LEVEL_CHECK
        bool "Is Enable Water Level Check Option"
        default y
        help
            If you do not use the water level check process, disable it

    config WATER_LEVEL_CHECK_OUTPUT_GPIO_NO
        int "Voltage Check Output GPIO No"
        default 27
        help
            GPIO number for voltage check signals

    config WATER_LEVEL_CHECK_INPUT_ADC_CHANNEL_NO
        int "Voltage Check Input ADC1 Channel No"
        default 3
        help
            GPIO number for voltage check adc input signals

    config LOCAL_TIME_ZONE
        string "Local Time Zone"
        default "JST-9"
        help
            Time zone of the region to be used

    config NTP_SERVER_ADDRESS
        string "NTP Server Address"
        default "ntp.nict.jp"
        help
            NTP server address to use for time alignment

    config DEBUG
        bool "Debug Mode"
        default n
        help
            Set a non-zero number to build as debug mode.

endmenu
