menu "Irrigation System Configuration"

    config WIFI_SSID
        string "WiFi SSID"
        default "myssid"
        help
            SSID (network name) 

    config WIFI_PASSWORD
        string "WiFi Password"
        default "mypassword"
        help
            WiFi password (WPA or WPA2) 

    config WIFI_MAXIMUM_RETRY
        int "Maximum retry"
        default 5
        help
            Set the Maximum retry to avoid station reconnecting to the AP unlimited when the AP is really inexistent.

    config RELAY_SIGNAL_GPIO_NO
        int "Relay Signal GPIO No"
        default 14
        help
            GPIO number for relay signals

    config MONITORING_SIGNAL_GPIO_NO
        int "Monitoring Signal GPIO No"
        default 27
        help
            GPIO number for monitoring signals

    config WATERING_INPUT_GPIO_NO
        int "Watering Button GPIO No"
        default 26
        help
            GPIO number for relay signals

    config JMA_AREA_PATH_CODE
        int "JMA Area Path Code"
        default 130000
        help
            Area path code for weather forecast determination. Tokyo:130010
            http://www.jma.go.jp/bosai/common/const/area.json

    config JMA_AREA_FORECAST_LOCAL_CODE
        int "JMA Area Forecast Local Code"
        default 130010
        help
            Area number for weather forecast determination. Tokyo:130010
            気象庁 気象警報・注意報等に用いる府県予報区、一次細分区域等のコード
            https://www.data.go.jp/data/dataset/mlit_20140919_0758/resource/a2081b13-5b3d-4ac1-9e4a-0a69aa7af0ef

    config JMA_AMEDAS_OBSERVATION_POINT_NUMBER
        int "JMA AMeDAS Observation Point Number"
        default 44132
        help
            AMeDAS observation point number for weather forecast determination. Tokyo:44132

    config LOCAL_TIME_ZONE
        string "Local Time Zone"
        default "JST-9"
        help
            Time zone of the region to be used

    config NTP_SERVER_ADDRESS
        string "NTP Server Address"
        default "ntp.nict.jp"
        help
            NTP server address to use for time alignment

    config DEBUG
        int "Debug Mode"
        default 0
        help
            Set a non-zero number to build as debug mode.


endmenu
